

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">  
  <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsenui.css">
  <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsen-css-components.min.css">
  <script src="https://unpkg.com/onsenui/js/onsenui.min.js"></script>
  <script src="https://unpkg.com/jquery/dist/jquery.min.js"></script>
 <script > 

class Todo {
  constructor(name, day,month, year, remaining, notes, color, priority, favourite) {
    this.name = name;
    this.day = day;
    this.year = year;
    this.month = month;
    this.remaining = remaining;
    this.notes = notes;
    this.color = color;
    this.priority = priority;
    this.favourite = favourite
  }

  jsonObj() {
    return {name: this.name, day: this.day, month: this.month, 
        year: this.year, remaining: this.remaining, notes: this.notes, 
        color: this.color, priority: this.priority, favourite: this.favourite
    }
  }
}
    var fav = false 
    var month = 0;
    var day = 0;
    var year = 0;
    key = "";

//TODO 1 - zlepšit vzhled aplikace (například list, barva, pismo, ons-card) - DONE
//+ místo klasických tlačítek použít "floating action button" (ons-fab) - DONE
//+ k názvu úkolu a datu přidat alespoň 4 další prvky, např. (poznámky, barvu, prioritu, oblíbené (favorites) atd.) - Partly DONE
//+ využít předchozího cvičení a vypočítat počet dnů do daného úkolu a tuto informaci take zobrazit - DONE
//+ vytvořit třídu reprezentující úkol a do úložište ukládat a načítat data pomocí JSON, https://www.w3schools.com/js/js_classes.asp - DONE
//TODO 2 - po zvolení daného úkolu zobrazit v dialogu s názvem i poznámky - DONE
//+ možnost ukázat a upravit (SHOW/EDIT) daný úkol   - DONE
//TODO 3 - po zvolení možnosti SHOW/EDIT všechny prvky daného úkolu zobrazit - DONE
//TODO 4 - skutečně záznam editovat a následné změny uložit i do localStorage (pokud by se nedařilo editovat všechny prvky, zkuste alespoň jméno úkolu) - DONE
//TODO 5 - hodnota/vlastnost favorites se jen ukládá do localStorage, ale reálně v té aplikaci není použita - zkuste tuto vlastnost modifikovat případně pro ni najít využití - DONE


document.addEventListener('init', function(event)
{
    showTodo();    
});

function addTask()
{  
    
    name = document.getElementById("taskName").value;
    //náhodně vygenerované ID (na ukázku) - pokuste se najít lepší způsob, např. pomocí datum/čas - DONE
    var myKey = self.crypto.randomUUID()

    var actualDate = new Date();
    var yearA = actualDate.getFullYear();
    var monthA = actualDate.getMonth()+1; //pozor mesice cislovany od nuly, 0 - leden
    var dayA = actualDate.getDate();

    var aDate = new Date(monthA + "/" + dayA + "/" + yearA);
    var date1 = new Date(month + "/" + day + "/" + year);

    var d1 = Math.abs(date1-aDate);
        date1Formatted = d1/(1000 * 3600 * 24);
    
    var remaining = Math.round(date1Formatted)

    var notes = document.getElementById("textArea").value


    var color = ""
    if (document.getElementById("radio-1").checked == true) {
    color = "Blue";
    }
    if (document.getElementById("radio-2").checked == true) {
     color = "Black";
    }
    if (document.getElementById("radio-3").checked == true) {
     color = "Red";
    }

    var favourite = "";
    if (document.getElementById("favourite").checked == true) {
        favourite = "true"
    }  
    else {
        favourite = "false"
    }
    

    var priority = document.getElementById("priority").value

    const jObj = new Todo(name,day,month, year, remaining, notes, color, priority, favourite)
    const myJSON = JSON.stringify(jObj.jsonObj())

    //const obj = {name: document.getElementById("taskName").value, day: day, month: month, year: year, remaining: remaining};
    //const myJSON = JSON.stringify(obj);
    console.log(myJSON);

    //localStorage.setItem(myKey, taskName);    
    localStorage.setItem(myKey,myJSON);
    showTodo();
}

function removeAll()
{
    localStorage.clear();
    ons.notification.alert("Remove All Items"); 
    showTodo();
}

function itemClick(item)
{   
    ons.notification.alert("item: " + item);     
}


function showTodo()
{
    $("#onsList").empty();
    //prochazim zaznamy uloziste
    for (var i = 0; i < localStorage.length; i++)
    {
        //ziskam klic z uloziste pro pristup k zaznamu
        var myKey = localStorage.key(i);  

        //jedna z moznych cest jak si pro kazdy zaznam v listu udrzovat id do uloziste
        //pro kazdy item (node) v listu se vytvori pomoci setAttribute (onclick) s funkci itemClick()
        //po kliknuti na item je s nim mozne dale pracovat ve fuknci itemClick()
        //neni to jedina cesta jak ziskat id do uloziste, pro kazdy prvek z listu 
        //pro ukol muzete pouzit i jine reseni
        var name = localStorage.getItem(myKey)

        const obj = JSON.parse(name);

        var isFav = ""
       
        if (obj.favourite == "true") {
            isFav = "✶"
         }
         else {
            isFav = ""
        }

        const node = document.createElement("ons-list-item");
        //node.innerText = name;   
        node.innerText = obj.name + " - " + obj.day + "/" + 
                        obj.month + "/" + obj.year + " - " + "Days left: " + 
                        obj.remaining + "  " + isFav;
        
        
        if (obj.color == "Blue") {
          node.style.color = "blue"
        }
         if (obj.color == "Black") {
        node.style.color = "black"
         }
         if (obj.color == "Red") {
        node.style.color = "red"
         }

        document.getElementById("onsList").appendChild(node);
         }

    const close = document.querySelectorAll("ons-list-item");
        for(let i =0; i<close.length; i++) {
            close[i].addEventListener("click", ()=> {
                //let key = localStorage.key(i);
                key = localStorage.key(i);
                //console.log(key);
                //itemClick(localStorage.getItem(key));
                addDialog2(localStorage.getItem(key), key)

            })
        }
}

function switchFavNot() {
    if (fav == false ) {
        showFavourites();
        fav = true;
    }
    else {
        showTodo();
        fav = false;
    }
}

function showFavourites() {

    $("#onsList").empty();
    //prochazim zaznamy uloziste
    for (var i = 0; i < localStorage.length; i++)
    {
        //ziskam klic z uloziste pro pristup k zaznamu
        var myKey = localStorage.key(i);  

        //jedna z moznych cest jak si pro kazdy zaznam v listu udrzovat id do uloziste
        //pro kazdy item (node) v listu se vytvori pomoci setAttribute (onclick) s funkci itemClick()
        //po kliknuti na item je s nim mozne dale pracovat ve fuknci itemClick()
        //neni to jedina cesta jak ziskat id do uloziste, pro kazdy prvek z listu 
        //pro ukol muzete pouzit i jine reseni
        var name = localStorage.getItem(myKey)

        const obj = JSON.parse(name);

        var isFav = "✶"
       
        if (obj.favourite == "true") {
            const node = document.createElement("ons-list-item");
        //node.innerText = name;   
        node.innerText = obj.name + " - " + obj.day + "/" + 
                        obj.month + "/" + obj.year + " - " + "Days left: " + 
                        obj.remaining + "  " + isFav;
        
        
        if (obj.color == "Blue") {
          node.style.color = "blue"
        }
         if (obj.color == "Black") {
        node.style.color = "black"
         }
         if (obj.color == "Red") {
        node.style.color = "red"
         }

        document.getElementById("onsList").appendChild(node);
         }
         }
       

       

    const close = document.querySelectorAll("ons-list-item");
        for(let i =0; i<close.length; i++) {
            close[i].addEventListener("click", ()=> {
                //let key = localStorage.key(i);
                key = localStorage.key(i);
                //console.log(key);
                //itemClick(localStorage.getItem(key));
                addDialog2(localStorage.getItem(key), key)

            })
        }
}

function addDialog()
{
    document.getElementById('dialog-1').show();
}

function closeDialog()
{
    document.getElementById('dialog-1').hide();
}

function closeDialog2()
{
    document.getElementById('dialog-2').hide();
}

function closeDialog3()
{
    document.getElementById('dialog-3').hide();
}

function setDays(inputDate)
{
    var myDate = new Date(inputDate);
    month = myDate.getMonth() + 1;
    day = myDate.getDate();
    year = myDate.getFullYear();
}


function addDialog2(item, key) {
    const obj = JSON.parse(item);
    document.getElementById("oneTaskName").innerHTML = obj.name;
    document.getElementById("textArea2").innerHTML = obj.notes;
    document.getElementById("dialog-2").show();
}

function removeOneTask() {
    localStorage.removeItem(key);
        document.getElementById("dialog-2").hide();
        key = "";
        showTodo();
}

function showEdit() {

    document.getElementById("dialog-2").hide();
    const obj = JSON.parse(localStorage.getItem(key));


    document.getElementById("taskName3").innerText = obj.name;
    document.getElementById("textArea3").innerHTML = obj.notes;

    
    if (obj.favourite == "true") {
        document.getElementById("favourite3").checked = true
    }
    else {
        document.getElementById("favourite3").checked = false
    }

    if (obj.color == "Blue") {
        document.getElementById("radio-1-3").checked = true
    }
    if (obj.color == "Black") {
        document.getElementById("radio-2-3").checked = true
    }
    if (obj.color == "Red") {
        document.getElementById("radio-3-3").checked = true
    }

    document.getElementById("priority3").value = obj.priority

   

    document.getElementById('dialog-3').show()
    
}

function saveEdit() {

    var name = document.getElementById("taskName4").value;
    

    var actualDate = new Date();
    var yearA = actualDate.getFullYear();
    var monthA = actualDate.getMonth()+1; //pozor mesice cislovany od nuly, 0 - leden
    var dayA = actualDate.getDate();

    var aDate = new Date(monthA + "/" + dayA + "/" + yearA);
    var date1 = new Date(month + "/" + day + "/" + year);

    var d1 = Math.abs(date1-aDate);
        date1Formatted = d1/(1000 * 3600 * 24);
    
    var remaining = Math.round(date1Formatted)

    var notes = document.getElementById("textArea3").value

    var favourite = "";
    if (document.getElementById("favourite3").checked == true) {
        favourite = "true"
    }  
    else {
        favourite = "false"
    }

    var color = ""
    if (document.getElementById("radio-1-3").checked == true) {
    color = "Blue";
    }
    if (document.getElementById("radio-2-3").checked == true) {
     color = "Black";
    }
    if (document.getElementById("radio-3-3").checked == true) {
     color = "Red";
    }

    var priority = document.getElementById("priority3").value

    const jObj = new Todo(name,day,month, year, remaining, notes, color, priority,favourite)
    const myJSON = JSON.stringify(jObj.jsonObj())
    localStorage.removeItem(key)
    localStorage.setItem(key,myJSON);
   
    document.getElementById('dialog-3').hide()
    showTodo();

}
</script>  
  
</head>
<body>
<ons-navigator swipeable id="myNavigator" page="page1.html"></ons-navigator>

<template id="page1.html">
    <ons-page id="page1">
        <ons-toolbar>
            <div class="center">Local Storage</div>
        </ons-toolbar>

        <p>TODO List</p>

        <ons-list id="onsList" style="line-height: 25px;">
            
        </ons-list>

        <ul id="htmlList">
        </ul>

              <ons-fab position="bottom right" id="push-button1" onclick="addDialog()">
                <ons-icon icon="md-plus"></ons-icon>
              </ons-fab>

              
              <ons-fab position="bottom center"  id="push-button3" onclick="switchFavNot()">
                <ons-icon icon="md-star"></ons-icon>
              </ons-fab>
            
            
              <ons-fab position="bottom left" id="push-button2" onclick="removeAll()">
                <ons-icon icon="ion-ios-trash"></ons-icon>
              </ons-fab>
    </ons-page>
</template>

<ons-dialog id="dialog-1">

    <div style="text-align: center; padding: 10px; align-content: center;">

        <p>
      <ons-input id="taskName" modifier="underbar" placeholder="Task Name" float></ons-input>
         </p>       

        <p style="text-align: center; padding-bottom: 15px">
            <input style="font-size:200%" id="dateInput" type="date" modifier="underbar material" onchange="setDays(this.value);">
        </p>
        
        <p>
            <section style="padding: 0 8px 8px">
                <textarea id="textArea" class="textarea" ng-model="dialogTextField" placeholder="Type here" style="width: 100%; height: 100px;"></textarea>
              </section>
          </p> 
          
        
            <ul class="list">
                <li class="list-item list-item--tappable">
                    <div class="list-item__left">
                      <label class="radio-button">
                        <input type="radio" id="radio-1" class="radio-button__input" name="r" checked="checked">
                        <div class="checkbox__checkmark"></div>
                      </label>
                    </div>
                    <label for="radio-1" class="list-item__center">
                      Blue
                    </label>
                  </li>
                <li class="list-item list-item--tappable">
                  <div class="list-item__left">
                    <label class="radio-button">
                      <input type="radio" id="radio-2" class="radio-button__input" name="r" checked="checked">
                      <div class="checkbox__checkmark"></div>
                    </label>
                  </div>
                  <label for="radio-2" class="list-item__center">
                    Black
                  </label>
                </li>
                <li class="list-item list-item--tappable">
                  <div class="list-item__left">
                    <label class="radio-button">
                      <input type="radio" id="radio-3" class="radio-button__input" name="r">
                      <div class="checkbox__checkmark"></div>
                    </label>
                  </div>
                  <label for="radio-3" class="list-item__center">
                    Red
                  </label>
                </li>
              </ul>
                
          

            <p>
            
                <label for="switch">
                    Add to favourites
                </label>
                <label class="right">
                <ons-switch unchecked id="favourite" class="center"></ons-switch>
            </label>

            </p>
          <p>
            <label>
                Priority
            </label>
            <ons-row>
                
                <ons-col>
                  <ons-range id = "priority" style="width: 100%;" value="25"></ons-range>
                </ons-col>
              </ons-row>
          </p>
   
    <p><ons-button modifier="material" id="push-button3" onclick="addTask()" style="width: 80%;">Add Task</ons-button></p> 
    <p><ons-button modifier="material" id="push-button4" onclick="closeDialog()" style="width: 80%;">Close</ons-button></p>       
    </div>
    
</ons-dialog>

<ons-dialog id="dialog-2">

    <div style="text-align: center; padding: 10px;">

        <p>Task</p>

    <p>
      <ons-input id="oneTaskName" modifier="underbar" float></ons-input>
    </p>       

    <p>
        <p>Description</p>
        <ons-input id="textArea2" modifier="underbar" float></ons-input>
      </p>   

    <p><ons-button modifier="material" id="push-button3" onclick="removeOneTask()" style="width: 80%;">Remove task</ons-button></p> 
    <p><ons-button modifier="material" id="push-button5" onclick="showEdit()" style="width: 80%;">Show/Edit</ons-button></p> 
   
    <p><ons-button modifier="material" id="push-button4" onclick="closeDialog2()" style="width: 80%;">Close</ons-button></p>       
    </div>
    
</ons-dialog>

<ons-dialog id="dialog-3">

    <div style="text-align: center; padding: 10px; align-content: center;">

        <p>
            <ons-input id="taskName3" modifier="underbar" placeholder="Task Name" float></ons-input>
          </p>   
          <p>
            <ons-input id="taskName4" modifier="underbar" placeholder="New task Name" float></ons-input>
          </p>       

        <p style="text-align: center; padding-bottom: 15px">
            <input style="font-size:200%" id="dateInput3" type="date" modifier="underbar material" onchange="setDays(this.value);">
        </p>
        
        <p>
            <section style="padding: 0 8px 8px">
                <textarea id="textArea3" class="textarea3" ng-model="dialogTextField" placeholder="Type here" style="width: 100%; height: 100px;"></textarea>
              </section>
          </p> 


              <ul class="list">
                <li class="list-item list-item--tappable">
                    <div class="list-item__left">
                      <label class="radio-button">
                        <input type="radio" id="radio-1-3" class="radio-button__input" name="r" checked="checked">
                        <div class="checkbox__checkmark"></div>
                      </label>
                    </div>
                    <label for="radio-1-3" class="list-item__center">
                      Blue
                    </label>
                  </li>
                <li class="list-item list-item--tappable">
                  <div class="list-item__left">
                    <label class="radio-button">
                      <input type="radio" id="radio-2-3" class="radio-button__input" name="r" checked="checked">
                      <div class="checkbox__checkmark"></div>
                    </label>
                  </div>
                  <label for="radio-2-3" class="list-item__center">
                    Black
                  </label>
                </li>
                <li class="list-item list-item--tappable">
                  <div class="list-item__left">
                    <label class="radio-button">
                      <input type="radio" id="radio-3-3" class="radio-button__input" name="r">
                      <div class="checkbox__checkmark"></div>
                    </label>
                  </div>
                  <label for="radio-3-3" class="list-item__center">
                    Red
                  </label>
                </li>
              </ul>


      <p>
            
                <label for="switch">
                    Add to favourites
                </label>
                <label class="right">
                <ons-switch unchecked id="favourite3" class="center"></ons-switch>
            </label>
           

            </p>
          <p>
            <label>
                Priority
            </label>
            <ons-row>
                
                <ons-col>
                  <ons-range id = "priority3" style="width: 100%;" value="25"></ons-range>
                </ons-col>
              </ons-row>
          </p>

    
       
    <p><ons-button modifier="material" id="push-button33" onclick="saveEdit()" style="width: 80%;">Save edit</ons-button></p> 
    <p><ons-button modifier="material" id="push-button43" onclick="closeDialog3()" style="width: 80%;">Close</ons-button></p>       

    
</ons-dialog>


</body>
</html>


